PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_NAME=petcare
DB_USER=root
DB_PASSWORD=

JWT_SECRET=cambia_esta_clave_secreta
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=cambia_esta_clave_refresh
JWT_REFRESH_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:4200,http://localhost:8100

API_PREFIX=/api/v1
